MATCHGRAPH_API_PORT=8080

MATCHGRAPH_DB_NAME=matchgraph
MATCHGRAPH_DB_USER=matchgraph
MATCHGRAPH_DB_PASSWORD=matchgraph
MATCHGRAPH_DB_PORT=5432

MATCHGRAPH_KAFKA_PORT=9092

MATCHGRAPH_CLICKHOUSE_DB=matchgraph
MATCHGRAPH_CLICKHOUSE_USER=matchgraph
MATCHGRAPH_CLICKHOUSE_PASSWORD=matchgraph
MATCHGRAPH_CLICKHOUSE_HTTP_PORT=8123
MATCHGRAPH_CLICKHOUSE_NATIVE_PORT=9000

MATCHGRAPH_REDIS_PORT=6379
